<div class='container mx-auto flex flex-wrap py-12'>
  <section class='w-full md:w-2/3 flex flex-col items-center px-3'>
    {{#each posts}}
    <article class='bg-offWhite flex flex-col betterShadow my-4 opacity-90 hover:opacity-100 transition-opacity duration-[250ms] ease-in-out'>
      <a href='/article/{{id}}'>
        <img src='{{imageUrl}}' />
      </a>
      <div class='bg-white flex flex-col justify-start p-6'>
        <p class='text-blue text-md font-bold uppercase pb-4'>{{category}}</p>
        <a href='/article/{{id}}' class='text-3xl font-bold pb-4'>{{title}}</a>
        <p class='text-sm pb-3'>
          By
          <p class='font-semibold'>{{user.name}}</p>,
          Published on {{formatDate createdAt}}
        </p>
        <p class='pb-6'></p>
        <a href='/article/{{id}}' class='uppercase text-grayDark'>
          <p class="hoverUnderlineDark w-fit">Continue Reading</p>
        </a>
      </div>
    </article>
    {{/each}}
    {{>pagination}}
  </section>
  {{>sidebar}}
</div>